
.plant-card {
  flex: 100%;
  padding: 2vh 2vw;
  box-sizing: border-box;
}

.plant {
  font-weight: 600;
  cursor: pointer;
  margin: 10px;
  max-width: 100%;
}

.closed {
  text-decoration: underline;
  color: darkgreen;
}


.open, .closed:hover {
  color: darkorange;
  text-decoration: underline;
}

.plant li {
  cursor: default;
  font-weight: 400;
  max-width: 100%;
  white-space: normal;
}
