#logo-container {
  width: 60vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1#logo {
  cursor: pointer;
  font-size: clamp(3rem, 5vh, 7rem);
  font-weight: 200;
  color: darkgreen;
  margin: 0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

h1#logo span {
  font-weight: 800;
}

@media only screen and (max-width: 400px) {
  #logo-container h1 {
      display: none;
  }
}
