.menu ul {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.menu ul li {
  padding: 0 0 5vh 0;
}

.menu ul li button {
  background-color: transparent;
  border: none;
  color: green;
  border-bottom: 2px solid lightgrey;
  text-decoration: none;
  font-size: clamp(2rem, 3vh, 4rem);
  cursor: pointer;
}

.menu ul li button:hover, .menu ul li button:focus {
  border-bottom: 2px solid transparent;
  color: orange;
}