* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'abel';
  // user-select: none;
}

// Scrollbar
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightgrey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgrey; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

#vertical-line {
  height: 89.8vh;
  position: absolute;
  margin: -0.1vh 0 0 30vw;
  border-left: 2px solid;
  color: lightgrey;
}

.content {
  height: 90vh;
  position: fixed;
  z-index: 1;
  top: 10;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
}

.holder {
  border: solid 10px;
  border-image: linear-gradient(45deg,green,lightgrey) 1;
  box-shadow: 2px 2px 10px;
}

.card-content {
  white-space: nowrap;
  padding: 1rem;
}

.centered {
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

a {
  text-decoration: none;
}