#header {
  display: flex;
  height: 10vh;
  // user-select: none;
}

hr.line {
  width: 100%;
  border: none;
  border-top: 2px solid;
  color: lightgrey;
}

.menu {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: green;
  transform: translateY(0);
  transition: transform 0.2s ease;
}

.hidden {
  transform: translateY(-100%);
  display: none;
}
